.settings-page {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    direction: rtl;
}

.settings-development {
    text-align: center;
    padding: 30px;
}

.development-icon {
    font-size: 70px;
    margin-bottom: 15px;
}

.settings-development h1 {
    margin: 0 0 10px;
    font-size: 28px;
}

.settings-development p {
    margin: 0;
    opacity: 0.7;
    line-height: 1.8;
    font-size: 16px;
}


/* زر اختبار المؤثرات */

.effects-test-menu {
    position: absolute;

    top: 10px;
    right: 10px;

    z-index: 2000;
}
